:root {
  --primary-bgc: #FFFFFF;
  --primary-text-color: #212121;
  --accent-color: #2196F3;
  --button-color: #F5F4FA;
  --text-color: #757575;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

body {
  margin: 0;
  background-color: var(--primary-bgc);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.social__link-footer, .social__link, .social, .portfolio__overlay, .feature__icon, .feature__thumb, .client__link, .button.send, .button__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  border-radius: 4px;
  border: transparent;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: var(--primary-text-color);
  background-color: var(--button-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  -webkit-transition: color var(--transition), background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
}
.button:hover, .button:focus {
  color: var(--primary-bgc);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__index {
  padding: 8px 30px;
  display: block;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  border: 0;
  background-color: var(--accent-color);
  color: var(--primary-bgc);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.button__sub {
  min-width: 200px;
  margin: auto;
  padding: 10px 3px;
  background-color: var(--accent-color);
  color: var(--primary-bgc);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1200px) {
  .button__sub {
    margin-left: 12px;
  }
}

.button__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--primary-bgc);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.button__close:hover {
  color: var(--accent-color);
}
.button__close:hover + .icon-close {
  fill: var(--accent-color);
}

.button__icon-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.button.send {
  margin: auto;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-bgc);
}

.button__icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--primary-bgc);
}

.menu-button {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: var(--primary-text-color);
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.menu-button:hover,
.menu-button:focus {
  fill: var(--accent-color);
}

.menu-button-close {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  right: 0;
  top: 0;
  fill: var(--primary-text-color);
}

.menu-button-close:hover,
.menu-button-close:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-button .icon-menu {
    display: none;
  }
}

.client {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__list {
    margin-top: -30px;
    margin-left: -15px;
  }
}

.client__item {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 1200px) {
  .client__item {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.client__link {
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}
@media screen and (max-width: 767px) {
  .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}
.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--accent-color);
}

.client__icon {
  fill: #AFB1B8;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.feature {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 479px) {
  .feature__item {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .feature__item + .feature__item {
    margin-top: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .feature__item {
    width: 450px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item {
    width: 354px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
    height: 251px;
  }
}
.feature__thumb {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--button-color);
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .feature__thumb {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .feature__thumb {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__thumb {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__thumb {
    width: 270px;
  }
}
.feature__icon {
  width: 70px;
  height: 70px;
}
.feature__title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: justify;
  }
}
.feature__text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .feature__list .feature__item + .feature__item {
    margin-left: 30px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.footer__address {
  color: var(--primary-bgc);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer__contact {
  color: var(--primary-bgc);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .footer-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__input {
  margin-bottom: 20px;
  padding: 15px 15px;
  width: 100%;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--primary-bgc);
  outline: 0;
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin: 0;
  }
}

.footer__list {
  margin-top: 20px;
  font-style: normal;
  font-family: "Roboto";
}
.footer__list .footer__item + .footer__item {
  margin-top: 9px;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    padding-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .social__footer {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .social__footer {
    padding-right: 93px;
  }
}

.placeholder {
  font-size: 16px;
  line-height: 21.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1200px) {
  .footer__item {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__info {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer__info {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__info {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__info {
    text-align: left;
  }
}

.form {
  padding: 40px;
}
.form__field {
  margin-bottom: 10px;
}
.form__label {
  display: block;
  padding: 0;
  padding-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.form__condition {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-color);
}
@media screen and (min-width: 1200px) {
  .form__condition {
    font-size: 14px;
    line-height: 1.71;
  }
}
.form__link {
  color: var(--accent-color);
  text-decoration: underline;
  margin: 0;
  padding: 0;
}
.form__inner {
  position: relative;
  display: block;
}
.form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form__icon-uncheck {
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 15px;
  fill: #212121;
  opacity: 1;
  border-radius: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form__icon-check {
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
  width: 16px;
  height: 15px;
  fill: var(--primary-bgc);
  background-color: var(--accent-color);
  border-radius: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__input {
  display: block;
  margin: 0;
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--primary-text-color);
}
.form__input:focus,
.form__input .form__comment:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

.form__comment {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.form__comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-moz-placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox:checked ~ .form__icon-check {
  opacity: 1;
}

.header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  margin: 0;
}

.hero__overlay {
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/headermob.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headermob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/headermob@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headermob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/headertab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headertab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/headertab@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headertab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
    height: 600px;
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay@2x.jpg);
  }
}
.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17x;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19x;
  }
}
.logo-accent {
  color: var(--primary-bgc);
}
.logo__header {
  color: #000;
}

.container__logo {
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--primary-bgc);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 767px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__auth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__auth {
    margin-left: 285px;
  }
}
.nav__icon-mail {
  width: 16px;
  height: 12px;
  fill: var(--text-color);
  margin-right: 10px;
}
.nav__icon-phone {
  width: 10px;
  height: 16px;
  fill: var(--text-color);
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .nav__auth .nav__item + .nav__item {
    margin-left: 30px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav__list {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}
.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}
.nav__list .nav__link {
  position: relative;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.nav__list .nav__link:hover, .nav__list .nav__link:focus {
  color: var(--accent-color);
}
.nav__list .nav__link.current {
  color: var(--accent-color);
  padding-bottom: 32px;
}

.nav__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav .nav__contact {
  color: var(--text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .nav .nav__contact {
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav__contact:hover,
.nav__contact:focus {
  color: var(--accent-color);
}

.nav__contact:hover .nav__icon-mail,
.nav__contact:focus .nav__icon-mail {
  fill: var(--accent-color);
}

.nav__contact:hover .nav__icon-phone,
.nav__contact:focus .nav__icon-phone {
  fill: var(--accent-color);
}

.portfolio {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio__list {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-bottom: 50px;
  }
}
.portfolio__offers {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .portfolio__text {
  margin: 0;
  margin-top: 4px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
.portfolio__flex .portfolio__item {
  border: 1px solid #EEEEEE;
  -webkit-transition: -webkit-box-shadow var(--transition);
  transition: -webkit-box-shadow var(--transition);
  transition: box-shadow var(--transition);
  transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
}
@media screen and (min-width: 1200px) {
  .portfolio__flex .portfolio__item {
    width: 370px;
    margin: 15px;
  }
}
.portfolio__flex .portfolio__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: justify;
  color: var(--primary-bgc);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.portfolio__flex .portfolio__item:hover .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 767px) {
  .portfolio__item {
    width: 450px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item {
    margin: 15px;
    width: 354px;
  }
}

@media screen and (max-width: 767px) {
  .item {
    margin-top: 15px;
  }
}

.item:not(:last-child) {
  margin-right: 8px;
}

.social .social__item + .social__item {
  margin-left: 10px;
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}
.social__icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--primary-bgc);
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-bgc);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--primary-bgc);
}

.social__link-footer {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.social__link-footer:hover, .social__link-footer:focus {
  background-color: var(--accent-color);
}
.social__link-footer:hover .icon-team, .social__link-footer:focus .icon-team {
  fill: var(--primary-bgc);
}

.team {
  background-color: var(--button-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__text {
  padding-top: 10px;
  padding-bottom: 16px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__list .team__item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team__list .team__item + .team__item {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__item {
  margin-top: 30px;
}
@media screen and (max-width: 479px) {
  .team__item {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    margin-left: 30px;
    margin-top: 0;
  }
}

.title__menu {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .title__menu {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .title__menu {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.title__footer {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bgc);
}
@media screen and (max-width: 1199px) {
  .title__footer {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.title__form {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-bgc);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    padding-top: 200px;
  }
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .work__thumb {
    position: relative;
  }
  .work__image {
    display: block;
  }
  .work__label {
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-bgc);
  }
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
  .work__list .work__item + .work__item {
    margin-left: 30px;
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 9;
  background: var(--primary-bgc);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile__item {
  padding-bottom: 32px;
  text-align: justify;
}

.mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mobile__link:hover, .mobile__link:focus {
  color: var(--accent-color);
}

.mobile-contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: auto;
  margin-bottom: 64px;
}
.mobile-contact__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mobile-contact__item {
  text-align: justify;
  padding-bottom: 32px;
}
.mobile-contact__link:hover, .mobile-contact__link:focus {
  color: var(--accent-color);
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile-social__item {
  padding-right: 10px;
  padding-left: 10px;
}
.mobile-social__item:first-child {
  padding-left: 0;
}
.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-social__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__item:last-child {
  border-right: none;
}

.mobile-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-menu__list {
  display: block;
}/*# sourceMappingURL=main.css.map */