.client {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}


.client__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
}

.client__item {
    width: 50%;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 768px) {
      width: 33.33%;
    }
    @media screen and (min-width: 1200px) {
      width: 16.66%;
    }
}

.client__link {
    width: 210px;
  height: 92px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: fill border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.client__icon {
    fill: #AFB1B8;

    transition: fill var(--transition);
}

