.title__menu {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    align-items: center;
    
    @media screen and (min-width:768px) and (max-width:1199px){
        margin-bottom: 30px;
    }

    @media screen and (min-width:1200px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.title__footer {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-bgc);
    

    @media screen and (max-width:1199px) {
        text-align: center;
        align-items: center;
    }
}

.title__form {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    max-width: 360px;
    align-items: center;

    color: var(--primary-bgc);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width:1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
        padding-top: 200px;
    }
}